<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" asp-controller="Home" asp-action="Index">STANLEY</a>
    </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a >Work</a></li>
              <li><a >About</a></li>
              <li><a >Blog</a></li>
              <li><a asp-controller="Contact" asp-action="Contact">Contacts</a></li>
              @if(User.Identity.IsAuthenticated)
              {
                  <p>@User.Identity.Name</p>
               
                  <form method="post" asp-controller="Auth" asp-action="Logout">
                      <input type="submit" value="Выход" />
                  </form>
              }
              else
              {
                  <a asp-controller="Auth" asp-action="Login">Login</a>
                  <a asp-controller="Auth" asp-action="Register">Registration</a>
              }
          </ul>
      </div>
    <!--/.nav-collapse -->
  </div>
</div>