<meta charset="utf-8">
<meta charset="utf-8">
<title>Stanley - Bootstrap Freelancer Template</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">
   
<!-- Favicons -->
<link href="~/img/favicon.png" rel="icon">
<link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">
   
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">